@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
    background-color: #eeeeee;
}

#title{
	text-align: center;
}

.container, .top, .footer {
    margin: 10px auto;
    padding: 2em;
    max-width: 1000px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.footer, .top {
    padding-top: 0.25em;
    padding-bottom: 0.25em;

}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

img
{
    background: dimgray;
    border: 1px solid black;
    border-radius: 2px;
    padding: 15px 10px 10px;
    margin: 10px 0;
    max-width: 95%;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/* Navbar */
.navbar {
	margin: 10px auto;
    padding: 1em;
    max-width: 1024px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px
    color: #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.navbar ul {
	margin: 0;
	padding: 0;
	text-align: center;

}
.navbar li {
	list-style: none;
	display: inline-block;
}
.navbar a {
	padding: 0.5em;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: #000;
	line-height: 2.5em;
}
.navbar a:hover {
	border-style:solid;
	border-width:1px;
	border-radius: 5px;
}
.navbar .current a  {
	background: #000;
	color: #fff;
	border-radius: 5px;
}
.nabar .current a:hover {
	border-width: 0px;
}
@media all and (max-width: 500px){
	.navbar li {
		display: block;
	}
}